<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenVR2Key.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <OpenVR2Key.Properties.Settings>
            <setting name="Minimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Notification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Haptic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExitWithSteam" serializeAs="String">
                <value>True</value>
            </setting>
        </OpenVR2Key.Properties.Settings>
    </userSettings>
</configuration>